CREATE DATABASE [Projekt_Univerwaltung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projekt_Univerwaltung', FILENAME = N'D:\DB\SQL-Univerwaltung-GruppeC\Univerwaltung.mdf' , SIZE = 8192KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Projekt_Univerwaltung_log', FILENAME = N'D:\DB\SQL-Univerwaltung-GruppeC\Univerwaltung_Log.ldf' , SIZE = 8192KB , FILEGROWTH = 10%)
GO
USE [Projekt_Univerwaltung]
GO
USE [Projekt_Univerwaltung]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Projekt_Univerwaltung] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
